h1 {
	font-size: 50px;
}
h2 {
	font-size: 36px;
}
div {
	text-align: center;
}
img {
	width: 10%;
}
body {
	background-color: lightblue;
}
/*styles weather information*/
#info {
	width: 300px;
  	padding: 10px;
  	padding-top: 0px;
  	border: 5px solid gray;
  	align-content: center;
  	margin: auto;
  	text-align: left;
  	background-color: #6495ED;
  	text-transform: capitalize;
}
#select {
	padding-bottom: 10px;
}